@import"https://bootswatch.com/4/cyborg/bootstrap.css";

body {
    background-color: rgb(77, 77, 77);
    background-image: url("https://image.ibb.co/eVgCDv/Boarding4.jpg");
}

nav{
    z-index: 1;
}

p {
    text-align: center;
    text-decoration: bold;
    border-radius: .5em;
    padding: .5em;
}


.sub-header {
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    border-radius: .5em;
    padding-top: .5em;
}

.content_width {
    width: 47%;
    margin-left: 1em;
    display: inline-block;
    vertical-align: top;
}

.content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.portfolio.section {
    background: hsla(0,0%,60%,.9);
    color: 	#111;
}

.contactMe.section{
    background: hsla(0,0%,30%,.8);
    color: white;
    padding-bottom: 0;
}

.resume.section{
    background: none;
}

.section{
    border-radius: .5em .5em .5em .5em;
    box-shadow: 0 5px 10px rgba(0,0,0,.4);
    background: hsla(0,0%,80%,.9);
    color: 	#111;
    max-width: 200rem;
    margin-top: 10%;
    height: auto;
    padding-bottom: 1rem;
}

.img-responsive {
    width: auto;
    height: 200px;
}

.img-width {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content-toDisplay {
    display: none;
}

.content-toDisplay--active {
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}

.center {
    margin: auto;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .header {
        font-size: 2em;
        height: 85px;
        padding: 0px;
    }
    .content {
        top: 85px;
    }
}
